<div class="container">
  <ng-container *ngrxLet="holidays$; let holidays">
    <mat-card *ngFor="let holiday of holidays">
      <mat-card-header>
        <mat-card-title>{{ holiday.title }}</mat-card-title>
        <mat-card-subtitle>{{ holiday.teaser }}</mat-card-subtitle>
      </mat-card-header>
      <img [alt]="holiday.title" [src]="holiday.imageUrl" mat-card-image />
      <mat-card-content>
        {{ holiday.description }}
      </mat-card-content>
      <mat-card-actions>
        <a [routerLink]="['.', 'request-info', holiday.id]" mat-raised-button
          >More Information</a
        >
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
