@if (formCustomer) {
  <form (ngSubmit)="submit()" class="app-customer">
    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input
        data-testid="inp-firstname"
        [(ngModel)]="formCustomer.firstname"
        name="firstname"
        matInput
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        data-testid="inp-name"
        [(ngModel)]="formCustomer.name"
        name="name"
        matInput
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <mat-select
        [(ngModel)]="formCustomer.country"
        data-testid="sel-country"
        name="country"
        required
      >
        @for (country of countries(); track country) {
          <mat-option [value]="country.value" data-testid="opt-country"
            >{{ country.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birthdate</mat-label>
      <input
        name="birthdate"
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="formCustomer.birthdate"
        data-testid="inp-birthdate"
        required
      />
      <mat-datepicker-toggle matIconSuffix [for]="picker" />
      <mat-datepicker #picker />
    </mat-form-field>

    <div class="buttons">
      <a [routerLink]="['..']" mat-raised-button>Back</a>
      <button
        (click)="handleRemove()"
        color="warn"
        mat-raised-button
        type="button"
        data-testid="btn-delete"
      >
        Delete
      </button>
      <button
        color="primary"
        mat-raised-button
        type="submit"
        data-testid="btn-submit"
      >
        Save
      </button>
    </div>
  </form>
}
