<div class="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <app-header></app-header>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container autosize>
    <mat-drawer mode="side" opened>
      <ul *ngIf="userService.loaded$ | async">
        <li>
          <a data-test="btn-holidays" mat-raised-button routerLink="/holidays">Holidays</a>
        </li>
        <li>
          <a data-test="btn-customers" mat-raised-button routerLink="/customer">Customers</a>
        </li>
        <li *ngIf="userService.signedIn$ | async">
          <a data-test="btn-diary" mat-raised-button routerLink="/diary">Diary</a>
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <mat-progress-bar
        *ngIf="!(userService.loaded$ | async)"
        mode="indeterminate"
      ></mat-progress-bar>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
