<p>Thanks for becoming a user of Eternal. Please select what type of user you are to continue.</p>
<div class="user-type">
  <div
    (click)="handleUserType('customer')"
    [matRippleCentered]="true"
    [ngClass]="{
      selected: formGroup.value['userType'] == 'customer'
    }"
    class="mat-elevation-z4"
    data-testid="user-type-customer"
    matRipple
    matRippleColor="primary"
  >
    <h3>Customer</h3>
    <mat-icon [inline]="true">person</mat-icon>
  </div>
  <div
    (click)="handleUserType('agent')"
    [matRippleCentered]="true"
    [ngClass]="{
      selected: formGroup.value['userType'] == 'agent'
    }"
    class="mat-elevation-z4"
    data-testid="user-type-agent"
    matRipple
    matRippleColor
  >
    <h3>Travel Agent</h3>
    <mat-icon [inline]="true">business</mat-icon>
  </div>
</div>
