
div.customers {
  width: 450px;

  div.row {
    overflow: auto;

    &.header {
      font-weight: bold;
    }

    > p {
      float: left;
      text-align: center;
      margin: 0.5em 0;

      &.edit {
        width: 2em;
      }

      &.name {
        width: 11em;
      }

      &.country {
        width: 4em;
      }

      &.birthdate {
        width: 8em;
      }
    }
  }

  .paginator {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 0;
      min-width: 2.5em;
      margin: 0 .5em;

      mat-icon {
        cursor: pointer;
      }
    }
  }
}
