<h2>Request a Brochure</h2>
<p>
  Please fill in your address and below and we will send you a brochure with
  more information.
</p>
<form class="flex flex-col w-fit items-center" (submit)="search($event)">
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input data-testid="address" [field]="addressForm.address" matInput />
    <mat-icon matSuffix>location_on</mat-icon>
    <mat-hint>Please enter your address</mat-hint>
    @for (error of addressForm.address().errors(); track error.message) {
      <mat-error>{{ error.message }}</mat-error>
    }
  </mat-form-field>
  <div class="my-4 flex gap-x-4">
    <a mat-raised-button routerLink="../../" type="Button">Cancel</a>
    <button
      color="primary"
      data-testid="btn-search"
      mat-raised-button
      type="submit"
    >
      Send
    </button>
  </div>
</form>
@if (lookupResult(); as message) {
  <p data-testid="lookup-result" aria-live="assertive" role="status">
    {{ message }}
  </p>
}
