<h2>Sign-Up</h2>
<mat-horizontal-stepper #stepper class="app-sign-up">
  <mat-step label="User Type">
    <app-sign-up-basic (next)="nextBasic($event)"></app-sign-up-basic>
  </mat-step>
  <mat-step label="Detail Data">
    <app-sign-up-detail (next)="nextDetail($event)">
      <div class="buttons">
        <button mat-raised-button type="button">Previous</button>
        <button
          color="primary"
          data-testid="btn-sign-up-detail-next"
          mat-raised-button
          type="submit"
        >
          Next
        </button>
      </div>
    </app-sign-up-detail>
  </mat-step>
  <mat-step label="Interests">
    <app-sign-up-interests (next)="nextInterests($event)">
      <div class="buttons">
        <button mat-raised-button type="button">Previous</button>
        <button
          color="primary"
          data-testid="btn-sign-up-interests-next"
          mat-raised-button
          type="submit"
        >
          Next
        </button>
      </div>
    </app-sign-up-interests>
  </mat-step>
  <mat-step label="Terms">
    <app-sign-up-terms (next)="finish()">
      <div class="buttons">
        <button color="primary" data-testid="btn-sign-up-finish" mat-raised-button type="submit">
          Finish
        </button>
      </div>
    </app-sign-up-terms>
  </mat-step>
</mat-horizontal-stepper>
